.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 31px 250px;
  min-height: 100vh;
  background: var(--app-background)
}

@media (max-width: 1440px) {
  .main{
    padding: 31px 70px;
  }
}
@media (max-width: 768px) {
  .main{
    padding: 0;
  }
}